@using ClassLibrary.Models;
@model UserModel;
@{
    ViewData["Title"] = "Cadastrar Usuário";
}

<h1 class="mt-5"><i class="fas fa-user-plus"></i> Cadastro de Usuários</h1>

<form asp-action="AddUser" method="post" class="col-6">

  <fieldset>

    <div class="form-group col-7">
      <label asp-for="UsrNome" for="inNome" class="form-label mt-4"></label>
      <input asp-for="UsrNome" class="form-control" id="inNome" placeholder="Digite seu nome!">
      <span asp-validation-for="UsrNome" class="text-danger"></span>
    </div>

    <div class="form-group col-7">
      <label asp-for="UsrSbnome" for="inSbnome" class="form-label mt-4"></label>
      <input asp-for="UsrSbnome" class="form-control" id="inSbnome" placeholder="Digite seu sobrenome!">
      <span asp-validation-for="UsrSbnome" class="text-danger"></span>
    </div>

    <div class="form-group col-6">
      <label asp-for="UsrNasci" for="inNasci" class="form-label mt-4"></label>
      <input asp-for="UsrNasci" type="date" class="form-control" id="inNasci" >
      <span asp-validation-for="UsrNasci" class="text-danger"></span>
    </div>

    <div class="form-group col-8">
      <label asp-for="UsrEmail" for="inEmail" class="form-label mt-4"></label>
      <input asp-for="UsrEmail" class="form-control" id="inEmail" placeholder="Digite seu Email!">
      <span asp-validation-for="UsrEmail" class="text-danger"></span>
    </div>

    <div class="form-group col-10">
      <label asp-for="UsrBio" for="inBio" class="form-label mt-4"></label>
      <textarea asp-for="UsrBio" class="form-control" id="inBio" rows="3" spellcheck="false" data-ms-editor="true" placeholder="Fale um pouco sobre você!"></textarea>
      <span asp-validation-for="UsrBio" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-secondary mt-4">Cadastrar Usuário</button>

  </fieldset>

</form>