@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="readSpace">
        <h1 class="display-4">Bem-Vindo ao PersonsApp</h1>
        <h5>Um sistema desenvolvido em .Net Core 5</h5>
    </div>

    <img src="~/img/net_core_logo.png" class="img-fluid readSpace" style="max-height: 300px" alt=".Net Core Logo">
</div>
